HELIUS_RPC_URL=https://devnet.helius-rpc.com/?api-key=YOUR_HELIUS_API_KEY
PROTOCOL_TREASURY_PUBKEY=mkzyaL8Xie6T3GHGrfCydeMk6JEajEWnkxrmjwZNgLJ
PROGRAM_ID=7s1UK1nQWK7CrNcaS576gbpMjMqrph1vArRepnQYLki7
SLASHER_KEYPAIR_PATH=./watcher/slasher-keypair.json
